{% extends "base.html.twig" %}

{% block title 'Gérer les types de plat' %}

{% block body %}
    <div class="container mt-4">

        <div style="margin-bottom:15px;">
            <a href="{{ path('admin.recipe.index') }}" class="btn btn-secondary">Retour à la gestion des recettes</a>
        </div>

        <h1>Gérer les types de plat</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        <table class="table table-stripped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for dish_type in dish_types %}
                <tr>
                    <td>{{ dish_type.name }}</td>
                    <td>
                        <a href="{{ path('admin.dish_type.edit', {id: dish_type.id}) }}" class="btn btn-secondary">Éditer</a>    
                        <form method="post" action="{{ path('admin.dish_type.delete', {id: dish_type.id}) }}" style="display:inline-block;" onsubmit="return confirm('Êtes-vous bien sûr?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dish_type.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="text-right">
            <a href="{{ path('admin.dish_type.new') }}" class="btn btn-primary">Créer un nouveau type de plat</a>
        </div>
    </div>
    
{% endblock %}