{{ form_start(formAddDishType) }}
    <div class="row">
        <div class="col-md-6">{{ form_row(formAddDishType.name) }}</div>
    </div>
    {{ form_widget(formAddDishType) }}
    <button id="buttonSubmitAddDishType" class="btn btn-primary">{{ button|default('Ajouter') }}</button>
{{ form_end(formAddDishType) }}