{# {% extends 'base.html.twig' %}

{% block title %}Edit MeasureUnit{% endblock %}

{% block body %}
    <h1>Edit MeasureUnit</h1>

    {{ include('measure_unit/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin.measure_unit.index') }}">back to list</a>

    {{ include('measure_unit/_delete_form.html.twig') }}
{% endblock %} #}

{# {{ form_start(formMeasureUnit) }}
    <div class="row">
        <div class="col-md-4">{{ form_row(formMeasureUnit.unit) }}</div>
    </div>
    {{ form_widget(formMeasureUnit) }}
    <button class="btn btn-primary">{{ button|default('Enregistrer') }}</button>
{{ form_end(formMeasureUnit) }} #}

<div class="modal fade modalEditMeasureUnit" id="modalEditMeasureUnit-{{measure_unit.id}}" tabindex="-1" role="dialog" aria-label="modalEditMeasureUnitLabel" aria-hidden="true">
    {{ form_start(formEditMeasureUnit) }}
    <div class="modal-dialog" role="document">
        <input id="editMeasureUnitID-{{measure_unit.id}}" type="hidden" value="{{measure_unit.id}}">
        <input id="editMeasureUnitName-{{measure_unit.id}}" type="hidden" value="{{measure_unit.unit|replace({' ': '_'})}}">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Modifier une unité</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body edit">
            <p>Modifier : {{measure_unit.unit}}</p>
            <div class="row">
                <div id="rowModalEditMeasureUnit" class="col-md-6">{{ form_row(formEditMeasureUnit.unit, {'id':'formMeasureUnit-' ~ measure_unit.unit|replace({' ': '_'})}) }}</div>
            </div>
        </div>
        <div class="modal-footer">
            {# <button class="btn btn-primary">{{ button|default('Enregistrer') }}</button> #}
            <button type="button" class="btn btn-primary" id="submitMeasureUnitEdit-{{measure_unit.id}}" onclick="submitEditMeasureUnit({{measure_unit.id}})">Ajouter</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
        </div>
    </div>
    {{ form_end(formEditMeasureUnit) }}
</div>

<script>

function submitEditMeasureUnit(id){
    var oldName2 = $('#editMeasureUnitName-'+id).val();
    var path = "/measure_unit/" + id + "/edit";

    var inputName = $('#formMeasureUnit-'+oldName2);

    var newName = inputName.val();

    $.ajax({
        url: path,
        method: "POST",
        data: {
            id: id,
            newName: newName
        },
        success: function(data){
            alert('Modification effectuée avec succès');
            $('#modalEditMeasureUnit-'+id).modal('hide');
            window.location.reload();
        }
    });
}

</script>