{% extends "base.html.twig" %}

{% block title 'Bienvenue!' %}

{% block body %}
    <div class="jumbotron text-center" id="bandeauTitre">
        <div class="container">
            <h1>Mes menus faciles</h1>
            <p>Plus de temps perdu à faire les listes de recettes pour la semaine !</p>
        </div>
    </div>

    <div class="container homepage">
        <img src="{{ "calendar.png" }}" alt="calendar-icon" width="30" height="30"/><a href="#calendar-container" id="goDirectlyToCalendar">Aller directement à mon calendrier</a>
        <h2 class="home">Mes dernières recettes publiées</h2>
        <div class="homeLastRecipes row flex">
            {% for recipe in recipes %}
                {% include 'recipe/_recipe.html.twig' %}
            {% endfor %}
        </div>

        <h2 class="home calendar">Mon calendrier de recettes</h2>
        <p class="notificationAddMealPlanning"><i class="fas fa-info-circle"></i> Cliquer sur la date pour ajouter une recette</p>
        <p class="alert alert-success successMsgNewMealPlanning">La recette a bien été ajoutée !</p>
        <p class="alert alert-success successMsgEditMealPlanning">La recette a bien été décalée !</p>
        <p class="alert alert-success successMsgDeleteMealPlanning">La recette a bien été supprimée !</p>
        <p class="alert alert-danger failMsgMealPlanning">Une erreur s'est produite. Merci de ré-essayer plus tard.</p>

        <div class="calendarStructure row">
            <div class="col-md-3 col-12" id='external-events'>
                <div id="accordion">
                    {% for categorie in foodCategories %}
                        {% if categorie.recipes|length > 0 %}
                            {% set count = count + 1 %}
                        <div class="card">
                            <div class="card-header" id="heading{{ categorie.id }}">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ categorie.id }}" aria-expanded="true" aria-controls="collapse{{ categorie.id }}">
                                    {{ categorie.name }}
                                    </button>
                                </h5>
                            </div>

                            <div id="collapse{{ categorie.id }}" class="collapse" aria-labelledby="heading{{ categorie.id }}" data-parent="#accordion">
                                <div class="card-body">
                                    {% for key, recipeCategory in recipeCategories %}
                                        {% if key == categorie.id %}
                                            {% for recipe in recipeCategory %}
                                                <div class='fc-event' data-remove={{count}}>{{ recipe.name }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                    <p class="dropRemoveCalendar">
                                        <input type='checkbox' id='drop-remove{{count}}' class='drop-remove'/>
                                        <label for='drop-remove{{count}}'>Enlever de la liste après sélection</label>
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
                
            </div>
            <div class="col-md-9 col-12" id='calendar-container'>
                <div id="calendar">
                    <div id="calendarTrash"><p class="notificationDeleteMealPlanning"><i class="fas fa-trash-alt"></i> Cliquer sur la recette pour la supprimer du calendrier</p></div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODALE ADD AN EVENT -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-label="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabelAddRecipe">Nouvel ajout de recette à mon semainier</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{{ path('meal_planning.new') }}" method="post">
                        <div class="form-group">
                            <div class="col-form-label">Jour: <span id="recipient-day"></span></div>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Recette:</label>
                            <select class="form-control" id="recipient-name">
                                <option value="defaultValue">Choisir ma recette...</option>
                                {% for recipe in allRecipes %}
                                    <option value={{ recipe.id }}>{{ recipe.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary" id="addButtonModal">Ajouter</button>
                </div>
            </div>
        </div>
    </div>

    <!-- MODALE SHOW A RECIPE -->
    <div class="modal fade" id="showRecipeModal" tabindex="-1" role="dialog" aria-label="showRecipeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabelSeeRecipe">Voir la recette ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary">Supprimer</button>
                    <button type="submit" class="btn btn-primary" id="addButtonRecipeModal">Voir la recette</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/list@4.1.0/main.min.css">
    {{ parent() }}
{% endblock %}

{% block javascripts %}
   {{ encore_entry_script_tags('app') }}
   {{ encore_entry_script_tags('home') }}
{% endblock %}