{% extends "base.html.twig" %}

{% block title 'Gérer les options des recettes' %}

{% block body %}
<div class="container mt-4 allOptions">
    <a href="{{ path('admin.recipe.index') }}" class="btn btn-primary backRecipeList">Revenir à la liste de recettes</a>
    
    <div id="dishTypes" class="optionPart">
        <h3>Types de plats</h3>
        <div class="row">
            {% for dishType in dish_types %}
                <div class="col-md-2 col-4 optionType">
                    <div>
                        <div class="optionName">{{ dishType.name }}</div>
                        <div class="row" style="font-size: 11px;">
                            <div class="actionsOptions col-md-12">
                                <a data-toggle="modal" data-target="#modalEditDishType-{{dishType.id}}" href="{{ path('admin.dish_type.edit', {id: dishType.id}) }}" data-id="{{dishType.id}}" data-name="{{dishType.name}}"  class="modal-trigger edit" id="buttonEditDishType-{{dishType.id}}" style="cursor:pointer;">Modifier</a>
                                <form method="post" action="{{ path('admin.dish_type.delete', {id: dishType.id}) }}" style="display:inline-block;" onsubmit="return confirm('Êtes-vous bien sûr?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" id="delete_token_dishtype_{{dishType.id}}" name="_token" value="{{ csrf_token('delete' ~ dishType.id) }}">
                                    <button>Supprimer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {{ render(controller(
                    'App\\Controller\\DishTypeController::edit',
                    { 'id': dishType.id }
                )) }}
            {% endfor %}
        </div>
        <button id="buttonSubmitDishType" data-toggle="modal" data-target="{{ path('admin.dish_type.new') }}" class="modal-trigger add dishType btn btn-primary" style="margin-top: 25px;">Ajouter un type de plat</button>            
    </div>

    <div id="foodTypes" class="optionPart">
        <h3>Types de cuisine</h3>
        <div class="row">
            {% for foodType in food_types %}
                <div class="col-md-2 col-4 optionType">
                    <div>
                        <div class="optionName">{{ foodType.name }}</div>
                        <div class="row" style="font-size: 10px;">
                            <div class="actionsOptions col-md-12">
                                <a data-toggle="modal" data-target="#modalEditFoodType-{{foodType.id}}" href="{{ path('admin.food_type.edit', {id: foodType.id}) }}" data-id="{{foodType.id}}" data-name="{{foodType.name}}"  class="modal-trigger edit foodType" id="buttonEditFoodType-{{foodType.id}}" style="cursor:pointer;">Modifier</a>
                                <form method="post" action="{{ path('admin.food_type.delete', {id: foodType.id}) }}" style="display:inline-block;" onsubmit="return confirm('Êtes-vous bien sûr?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" id="delete_token_foodtype_{{foodType.id}}" name="_token" value="{{ csrf_token('delete' ~ foodType.id) }}">
                                    <button>Supprimer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {{ render(controller(
                    'App\\Controller\\FoodTypeController::edit',
                    { 'id': foodType.id }
                )) }}
            {% endfor %}
        </div>
        <button id="buttonSubmitFoodType" data-toggle="modal" data-target="{{ path('admin.food_type.new') }}" class="modal-trigger add foodType btn btn-primary" style="margin-top: 25px;">Ajouter un type de cuisine</button>            
    </div>

    <div id="options" class="optionPart">
        <h3>Options supplémentaires</h3>
        <div class="row">
            {% for option in options %}
                <div class="col-md-2 col-4 optionType">
                    <div>
                        <div class="optionName">{{ option.name }}</div>
                        <div class="row" style="font-size: 10px;">
                            <div class="actionsOptions col-md-12">
                                <a data-toggle="modal" data-target="#modalEditOption-{{option.id}}" href="{{ path('admin.option.edit', {id: option.id}) }}" data-id="{{option.id}}" data-name="{{option.name}}"  class="modal-trigger edit option" id="buttonEditOption-{{option.id}}" style="cursor:pointer;">Modifier</a>
                                <form method="post" action="{{ path('admin.option.delete', {id: option.id}) }}" style="display:inline-block;" onsubmit="return confirm('Êtes-vous bien sûr?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" id="delete_token_optiontype_{{option.id}}" name="_token" value="{{ csrf_token('delete' ~ option.id) }}">
                                    <button>Supprimer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {{ render(controller(
                    'App\\Controller\\OptionController::edit',
                    { 'id': option.id }
                )) }}
            {% endfor %}
        </div>
        <button id="buttonSubmitOption" data-toggle="modal" data-target="{{ path('admin.option.new') }}" class="modal-trigger add option btn btn-primary" style="margin-top: 25px;">Ajouter une option</button>
    </div>
</div>

<!-- MODAL ADD DISH TYPE -->
<div class="modal fade modalAddDishType" id="modalAddDishType" tabindex="-1" role="dialog" aria-label="modalAddDishTypeLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Ajouter un nouveau type de plat</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body add">
            {{ render(path('admin.dish_type.new')) }}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
        </div>
    </div>
</div>

<!-- MODAL ADD FOOD TYPE -->
<div class="modal fade modalAddFoodType" id="modalAddFoodType" tabindex="-1" role="dialog" aria-label="modalAddFoodTypeLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Ajouter un nouveau type de cuisine</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body add">
            {{ render(path('admin.food_type.new')) }}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
        </div>
    </div>
</div>

<!-- MODAL ADD OPTION -->
<div class="modal fade modalAddOption" id="modalAddOption" tabindex="-1" role="dialog" aria-label="modalAddOptionLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Ajouter une nouvelle option</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body add">
            {{ render(path('admin.option.new')) }}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
        </div>
    </div>
</div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('manageRecipe') }}
{% endblock %}