{% extends "base.html.twig" %}

{% block title 'Gérer les recettes' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div class="container mt-4 recipeManagement">

        <div style="margin-bottom:15px;">
            <!--<a href="{{ path('admin.dish_type.index') }}" class="btn btn-secondary">Gérer les types de plats</a>
            <a href="{{ path('admin.food_type.index') }}" class="btn btn-secondary">Gérer les types de cuisine</a>
            <a href="{{ path('admin.option.index') }}" class="btn btn-secondary">Gérer les options</a>
            <a href="{{ path('admin.measure_unit.index') }}" class="btn btn-secondary">Gérer les unités</a>-->
            <a href="{{ path('admin.all_options') }}" class="col-xs-5 btn btn-perso">Gérer les options</a>
            <a href="{{ path('admin.corresponding.index') }}" class="col-xs-5 btn btn-perso">Gérer les équivalences unités/poids</a>
{#          <a href="{{ path('admin.ingredient.index') }}" class="col-5 btn btn-perso">Gérer les ingrédients</a>#}            
            <a href="{{ path('admin.recipe.new') }}" class="col-xs-5 btn btn-primary addNewRecipe">Créer une nouvelle recette</a>
        </div>

        <h1 class="adminRecipe">Gérer les recettes</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        
        <table class="table table-stripped">
            {# <thead>
                <tr>
                    <th>Recettes</th>
                </tr>
            </thead> #}
            <tbody>
                {% for recipe in recipes %}
                <tr>
                    <td>{{ recipe.name }}</td>
                    <td>
                        <a href="{{ path('admin.recipe.edit', {id: recipe.id}) }}" class="btn btn-perso">Éditer</a>    
                        <form method="post" action="{{ path('admin.recipe.delete', {id: recipe.id}) }}" style="display:inline-block;" onsubmit="return confirm('Êtes-vous bien sûr?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recipe.id) }}">
                            <button class="btn btn-primary">Supprimer</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    
{% endblock %}