{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.beginAt) }}
    {{ form_row(form.endAt) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
