<h2>Ma liste de courses</h2>
{% for ingredient in listIngredients %}
    <div>
        <input type="checkbox" id="{{ingredient.name}}" name="{{ingredient.name}}"> 
        <label for="{{ingredient.name}}">{{ ingredient.name}} : {{ ingredient.quantity }} {{ ingredient.unit }}</label>
    </div>
{% endfor %}