{% extends 'base.html.twig' %}

{% block title %}Ma liste de courses{% endblock %}

{% block body %}
    <div class="container">
        <h1>Mes recettes sur une période</h1>

        <h2>Choisir la période</h2>
        <div class="container">
            {{ form_start(form) }}
            <div class="form-row align-items-end">
                <div class="col-md-5">{{ form_row(form.startPeriod) }}</div>
                <div class="col-md-5">{{ form_row(form.endPeriod) }}</div>
                <div class="col-md-2"><button class="btn btn-primary">Rechercher</button></div>
            </div>
            {{ form_end(form) }}
        </div>

        <!--
        <ul>
        {% for meal_planning in meal_plannings %}
            <li>{{meal_planning.title}}</li>
        {% endfor %}
        </ul>
        -->

    <!--
        <ul>
        {% for ingredient in allIngredients %}
            {% for ing in ingredient %}
                <li>{{ ing.quantity }} {{ ing.unit }} {{ ing.nameIngredient }}</li>
            {% endfor %}
        {% endfor %}
        </ul>
    -->
    {% if listIngredients %}
        <div class="row">
            <div class="col-md-6">
                {{ include('meal_planning/_list.html.twig') }}
                <a class="btn btn-primary" href="{{ path('meal_planning.saveToPdf', {startDate: startDate, endDate: endDate}) }}" id="saveToPdfButton">Imprimer</a> <a class="btn btn-primary">Envoyer par mail</a>
            </div>

            <div class="col-md-6">
                <h2>Mes repas</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Recette</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for meal_planning in meal_plannings %}
                        <tr>
                            <td>{{ meal_planning.beginAt ? meal_planning.beginAt|date('d-m-Y') : '' }}</td>
                            <td>{{ meal_planning.title }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
    
        

    </div>
{% endblock %}
