{% extends 'base.html.twig' %}

{% block title %}Ma liste de courses{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div class="container mealPlanningAndShopList">
        <h1 class="mealPlanningList">Mes recettes sur une période</h1>

        <h2>Choisir la période</h2>
        <div class="container">
            {{ form_start(form) }}
            <div class="form-row align-items-end">
                <div class="col-md-5">{{ form_row(form.startPeriod) }}</div>
                <div class="col-md-5">{{ form_row(form.endPeriod) }}</div>
                <div class="col-md-2"><div class="form-group"><button class="btn btn-primary">Rechercher</button></div></div>
            </div>
            {{ form_end(form) }}
        </div>

        {% for message in app.flashes('success') %}
            <div class="flash-notice alert alert-success" id="msgSuccessListSentByMail">
                {{ message }}
            </div>
        {% endfor %}

{#         {% if messageOK is defined %}
            <div>{{ messageOK }}</div>
        {% endif %} #}

        {% if finalIngredients is defined %}

            <hr class="breakLine" color="yellow">

            <div class="row">
                <div class="col-md-5 col-11 allShopList">
                    <h2 class="shopListH2">Ma liste de courses</h2>
                    <div id="shopListDiv">
                        {% for ingredient in finalIngredients %}
                            <input class="inputList" type="checkbox" id="{{ingredient.name}}" name="{{ingredient.name}}"><span>{{ ingredient.name }} : {{ ingredient.quantity|quantity(ingredient.quantity) }} {{ unit(ingredient.unit, ingredient.quantity) }}</span></label><br>
                        {% endfor %}
                    </div>
                    <div>
                        {# <a class="btn btn-primary" href="{{ path('meal_planning.saveToPdf', {startDate: startDate|date("Y-m-d H:i:s"), endDate: endDate|date("Y-m-d H:i:s"), listText: listText}) }}" id="saveToPdfButton">Imprimer</a> 
                        <a class="btn btn-primary" href="{{ path('meal_planning.sendByMail', {startDate: startDate|date("Y-m-d H:i:s"), endDate: endDate|date("Y-m-d H:i:s"), listText: listText}) }}"  id="sendMailButton">Envoyer par mail</a> #}
                    </div>
                </div>

                <div class="col-md-7 allMealPlanning">
                        <h2 class="mealPlanningList">Mes repas</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Recette</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% if meal_plannings is defined %}
                                {% for meal_planning in meal_plannings %}
                                    <tr>
                                        <td>{{ meal_planning.beginAt ? meal_planning.beginAt|date('d-m-Y') : '' }}</td>
                                        <td>{{ meal_planning.title }}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="5">no records found</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
        {% endif %}
        
                {# <div class="row">
                    <div class="col-md-6">
                        <h2 class="shopListH2">Ma liste de courses</h2>
                        <div id="shopListDiv">
                            {% if finalIngredients is defined %}
                                {% for ingredient in finalIngredients %}
                                    <input class="inputList" type="checkbox" id="{{ingredient.name}}" name="{{ingredient.name}}"><span>{{ ingredient.name}} : {{ ingredient.quantity|quantity(ingredient.quantity) }} {{ unit(ingredient.unit, ingredient.quantity) }}</span></label><br>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div>
                            <a class="btn btn-primary" href="{{ path('meal_planning.saveToPdf', {startDate: startDate|date("Y-m-d H:i:s"), endDate: endDate|date("Y-m-d H:i:s"), listText: listText}) }}" id="saveToPdfButton">Imprimer</a> 
                            <a class="btn btn-primary" href="{{ path('meal_planning.sendByMail', {startDate: startDate|date("Y-m-d H:i:s"), endDate: endDate|date("Y-m-d H:i:s"), listText: listText}) }}"  id="sendMailButton">Envoyer par mail</a>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <h2>Mes repas</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Recette</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% if meal_plannings is defined %}
                                {% for meal_planning in meal_plannings %}
                                    <tr>
                                        <td>{{ meal_planning.beginAt ? meal_planning.beginAt|date('d-m-Y') : '' }}</td>
                                        <td>{{ meal_planning.title }}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="5">no records found</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div> #}

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('shopList') }}
{% endblock %}