{% extends 'base.html.twig' %}

{% block title %}Ma liste de courses{% endblock %}

{% block body %}
    <div class="container">
        <h1>Mes recettes sur une période</h1>

        <h2>Choisir la période</h2>
        <div class="container">
            {{ form_start(form) }}
            <div class="form-row align-items-end">
                <div class="col-md-5">{{ form_row(form.startPeriod) }}</div>
                <div class="col-md-5">{{ form_row(form.endPeriod) }}</div>
                <div class="col-md-2"><div class="form-group"><button class="btn btn-primary">Rechercher</button></div></div>
            </div>
            {{ form_end(form) }}
        </div>

        <!--
        <ul>
        {% for meal_planning in meal_plannings %}
            <li>{{meal_planning.title}}</li>
        {% endfor %}
        </ul>
        -->

    <!--
        <ul>
        {% for ingredient in allIngredients %}
            {% for ing in ingredient %}
                <li>{{ ing.quantity }} {{ ing.unit }} {{ ing.nameIngredient }}</li>
            {% endfor %}
        {% endfor %}
        </ul>
    -->
    {% if listIngredients %}
        <div class="row">
            <div class="col-md-6">
                {{ include('meal_planning/_list.html.twig') }}
                <div>
                    <a class="btn btn-primary" href="{{ path('meal_planning.saveToPdf', {startDate: startDate, endDate: endDate}) }}" id="saveToPdfButton">Imprimer</a> <a class="btn btn-primary" href="{{ path('meal_planning.sendByMail', {startDate: startDate, endDate: endDate}) }}" id="sendMailButton">Envoyer par mail</a>
                </div>
            </div>

            <div class="col-md-6">
                <h2>Mes repas</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Recette</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for meal_planning in meal_plannings %}
                        <tr>
                            <td>{{ meal_planning.beginAt ? meal_planning.beginAt|date('d-m-Y') : '' }}</td>
                            <td>{{ meal_planning.title }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
    
        

    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $( function() {
            $( "#startPeriod" ).datepicker({
                dateFormat: "dd-mm-yy",
                closeText: 'Fermer',
                prevText: 'Précédent',
                nextText: 'Suivant',
                currentText: 'Aujourd\'hui',
                monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
                dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
                dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                weekHeader: 'Sem.',
                firstDay: 1
            });
            $( "#endPeriod" ).datepicker({
                dateFormat: "dd-mm-yy",
                closeText: 'Fermer',
                prevText: 'Précédent',
                nextText: 'Suivant',
                currentText: 'Aujourd\'hui',
                monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
                dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
                dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                weekHeader: 'Sem.',
                firstDay: 1
            });
        } );
    </script>
{% endblock %}