{% extends "base.html.twig" %}

{% block title 'Gérer les ingrédients de la recette' %}

{% block body %}
    <div class="container mt-4">

        <div style="margin-bottom:15px;">
            <a href="{{ path('admin.recipe.edit', {id: recipe_id }) }}" class="btn btn-secondary">Retour à la recette</a>
        </div>

        <h1>Gérer les ingrédients de la recette {{ recipe_name }}</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        <table class="table table-stripped">
            <thead>
                <tr>
                    <th>Ingrédients</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for recipe_ingredient in recipe_ingredients %}
                <tr>
                    <td>
                        <div>{{recipe_ingredient.quantity}}
                        {% for unit in recipe_ingredient.unit %}
                            {{ unit }} - 
                        {% endfor %}
                        {% for ingredient in recipe_ingredient.ingredient %}
                            {{ingredient}}</div>
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ path('admin.recipe_ingredients.edit', {idRecipe: recipe_id, name: recipe_name, id: recipe_ingredient.id}) }}" class="btn btn-secondary">Éditer</a>    
                        <form method="post" action="{{ path('admin.recipe_ingredients.delete', {idRecipe: recipe_id, name: recipe_name, id: recipe_ingredient.id}) }}" style="display:inline-block;" onsubmit="return confirm('Êtes-vous bien sûr?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recipe_ingredient.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="text-right">
            <a href="{{ path('admin.recipe_ingredients.new', {id: recipe_id, name: recipe_name}) }}" class="btn btn-primary">Ajouter un nouvel ingrédient à la recette</a>
        </div>
    </div>
    
{% endblock %}