<div class="card mb-4">
    {% if recipe.picture %}
        <img src="{{ vich_uploader_asset(recipe.picture, "imageFile") | imagine_filter('thumb') }}" style="width: 100%; heigth: auto;" alt="card-img-top">
    {% else %}
        <img src="{{ "empty.jpg" | imagine_filter('thumb') }}" style="width: 100%; heigth: auto;" alt="card-img-top">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ path('recipe.show', {id: recipe.id, slug: recipe.slug}) }}">{{ recipe.name }}</a>
        </h5>
        <ul>
            <li class="card-text">
                {% for dishType in recipe.DishTypes %}
                    {{ dishType.name }}
                {% endfor %}
            </li>
            <li class="card-text">Temps de préparation : {{ recipe.totalTime }} minutes</li>
            <li class="card-text">Pour {{ recipe.numberPersons }} {% if recipe.numberPersons > 1 %} personnes {% else %} personne {% endif %}</li>
        </ul>
    </div>
</div>