{% extends "base.html.twig" %}

{% block title 'Voir toutes mes recettes' %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            {{ form_start(form) }}
            <div class="form-row align-items-end">
                <div class="col">
                    {{ form_row(form.maxTotalTime) }}
                </div>
                <div class="col">
                    {{ form_row(form.numberPersons) }}
                </div>
                <div class="col">
                    {{ form_row(form.DishTypes) }}
                </div>
                <div class="col">
                    <div class="form-group">
                        <button class="btn btn-primary">Rechercher</button>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="container mt-4">
        <h1>Voir toutes mes recettes</h1>
        <p>Toutes réunies en une seule page</p>

        <div class="row">
            {% for recipe in recipes %}
                <div class="col-md-4">
                    {% include "recipe/_recipe.html.twig" %}
                </div>
            {% endfor %}
        </div>

        <div class="pagination">
            {{ knp_pagination_render(recipes) }}
        </div>
    </div>
{% endblock %}