{% extends "base.html.twig" %}

{% block title "Ma recette de " ~ recipe.name %}

{% block body %}
    <div class="container mt-4">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        {% if not form.vars.valid %}
            <div class="alert alert-danger">Erreur dans les données envoyées</div>
        {% endif %}

        <div class="row">
            <div class="col-md-5">
                <div data-slider>
                    {% if recipe.pictures is empty %}
                        <img src="{{ 'empty.jpg' | imagine_filter('medium') }}" style="width: 100%; heigth: auto;" alt="card-img-top">
                    {% else %}
                        {% for picture in recipe.pictures %}
                            <img src="{{ vich_uploader_asset(picture, 'imageFile') | imagine_filter('medium') }}" style="width: 100%; heigth: auto;" alt="card-img-top">
                        {% endfor %}
                    {% endif %}
                </div> 
            </div>
            <div class="col-md-7">
                <h1>{{ recipe.name }}</h1>
                <p>Type : 
                    {% for dishType in recipe.DishTypes %}
                            <span>{{ dishType.name }}</span>
                    {% endfor %}
                </p>
                <p>Cuisine : 
                    {% for foodType in recipe.foodTypes %}
                        <span >{{ foodType.name }}</span>
                    {% endfor %}
                </p>
                <p>Niveau de difficulté : {{recipe.difficultyType}} </p>
                <p>Coût : {{recipe.costType}} </p>
                <div class="row">
                    <p class="col-4">Total : {{recipe.totalTime}} min</p>
                    <p class="col-4">Préparation : {{recipe.preparationTime}} min</p>
                    <p class="col-4">Cuisson : {{recipe.cookingTime}} min</p>
                </div>
                <div class="row">     
                    {% for option in recipe.options %}
                        <p>{{ option.name }}</p>
                    {% endfor %}
                </div>
                <div class="row">
                    <p class="col-12">Ingrédients : </p>
                </div>
                <div class="row">
                    <ul>
                        {% for ingredient in recipe.recipeIngredients %}
                            <li>{{ ingredient.quantity }} {{ ingredient.unit }} {{ ingredient.nameIngredient }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <p>Description de la recette :<br>{{recipe.steps|nl2br}} </p>
                <a href="#" class="btn btn-primary">Ajouter à mon semainier</a>
                <a href="#" class="btn btn-primary" id="contactButton" {% if form.vars.submitted %}style="display: none;"{% endif %}>Envoyer par mail</a>
                <div id="contactForm" class="mt-4" {% if not form.vars.submitted %}style="display: none;"{% endif %}>
                    {{ form_start(form) }}
                        <div class="row">
                            <div class="col">{{ form_row(form.firstname) }}</div>
                            <div class="col">{{ form_row(form.lastname) }}</div>
                        </div>
                        <div class="row">
                            <div class="col">{{ form_row(form.phone) }}</div>
                            <div class="col">{{ form_row(form.email) }}</div>
                        </div>
                        {{ form_rest(form) }}
                        <div class="form-group">
                            <button class="btn btn-primary">Envoyer</button>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}