{% extends "base.html.twig" %}

{% block title "Ma recette de " ~ recipe.name %}

{% block body %}
    <div class="container mt-5" id="allBlockRecipe">

        <div class="row" id="blocRecipe">
            <div id="divImg" class="col-md-5 col-sm-5 col-12">
                <div data-slider>
                    {% if recipe.pictures is empty %}
                        <img src="{{ 'empty.jpg' | imagine_filter('medium') }}" alt="card-img-top">
                    {% else %}
                        {% for picture in recipe.pictures %}
                            <img src="{{ vich_uploader_asset(picture, 'imageFile') | imagine_filter('medium') }}" alt="card-img-top">
                        {% endfor %}
                    {% endif %}
                </div> 
            </div>
            <div id="contentRecipe" class="col-md-6 col-sm-6 col-12">
                <h1>{{ recipe.name }}</h1>
                <div id="detailsRecipe">
                    <p>Type : 
                        {% for dishType in recipe.DishTypes %}
                                <span><b>{{ dishType.name }}</b></span>
                        {% endfor %}
                    </p>
                    <p>Cuisine : 
                        {% for foodType in recipe.foodTypes %}
                            <span ><b>{{ foodType.name }}</b></span>
                        {% endfor %}
                    </p>
                    <p>Niveau de difficulté : <b>{{recipe.difficultyType}}</b></p>
                    <p>Coût : <b>{{recipe.costType}}</b></p>
                    <div class="row">
                        <p class="col-4">Total :<br><b>{{recipe.totalTime}}</b> min</p>
                        <p class="col-4">Préparation :<br><b>{{recipe.preparationTime}}</b> min</p>
                        <p class="col-4">Cuisson :<br><b>{{recipe.cookingTime}}</b> min</p>
                    </div>
                    {% for option in recipe.options %}
                        <p><b>{{ option.name }}</b></p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row" id="ingredientsAndDescription">
            <div id="ingredients" class="col-md-4 col-sm-4 col-12">
                <h2>Ingrédients</h2>
                <ul>
                    {% for ingredient in recipe.recipeIngredients %}
                        <li>{{ ingredient.quantity }} {{ ingredient.unit }} {{ ingredient.nameIngredient }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div id="recipeDescription" class="col-md-7 col-sm-7 col-12">
                <h2>Description de la recette</h2><br><p>{{recipe.steps|nl2br}}</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    {{ parent() }}
{% endblock %}

{% block javascripts %}
   {{ encore_entry_script_tags('app') }}
   {{ encore_entry_script_tags('allRecipes') }}
   <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
   <script>
   $(document).ready(function() { 
    $('[data-slider]').slick({
        dots: true,
        arrows: true
    });
    });
    </script>
{% endblock %}