{{ form_start(form) }}
    <div class="addCorrespondance">
        {{ form_row(form.Ingredient) }}
        {{ form_row(form.Weight) }}
    </div>
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
