{% extends 'base.html.twig' %}

{% block title %}Liste des équivalences{% endblock %}

{% block body %}
    <a href="{{ path('admin.recipe.index') }}" class="col-xs-5 btn btn-perso">Retour à la liste des recettes</a>

    <h1>Liste des équivalences</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Ingrédient</th>
                <th>Poids (gr)</th>
            </tr>
        </thead>
        <tbody>
        {% for corresponding_weights_unity in corresponding_weights_unities %}
            <tr>
                <td>{{ corresponding_weights_unity.Ingredient }}</td>
                <td>{{ corresponding_weights_unity.Weight }}</td>
                <td>
{#                     <a href="{{ path('admin.corresponding.show', {'id': corresponding_weights_unity.id}) }}">show</a>
 #}                    <a href="{{ path('admin.corresponding.edit', {'id': corresponding_weights_unity.id}) }}">Éditer</a>
                        <form method="post" action="{{ path('admin.corresponding.delete', {'id': corresponding_weights_unity.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir effacer cette équivalence?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ corresponding_weights_unity.id) }}">
                            <button class="btn">Supprimer</button>
                        </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune équivalence enregistrée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin.corresponding.new') }}">Ajouter une équivalence</a>
{% endblock %}
