{% extends 'base.html.twig' %}

{% block title %}CorrespondingWeightsUnities{% endblock %}

{% block body %}
    <h1>CorrespondingWeightsUnities</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ corresponding_weights_unity.id }}</td>
            </tr>
            <tr>
                <th>Ingredient</th>
                <td>{{ corresponding_weights_unity.Ingredient }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ corresponding_weights_unity.Weight }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('corresponding_weights_unities_index') }}">back to list</a>

    <a href="{{ path('corresponding_weights_unities_edit', {'id': corresponding_weights_unity.id}) }}">edit</a>

    {{ include('corresponding_weights_unities/_delete_form.html.twig') }}
{% endblock %}
