<div class="modal fade modalEditFoodType" id="modalEditFoodType-{{foodType.id}}" tabindex="-1" role="dialog" aria-label="modalEditFoodTypeLabel" aria-hidden="true">
    {{ form_start(formEditFoodType) }}
    <div class="modal-dialog" role="document">
        <input id="editFoodTypeID-{{foodType.id}}" type="hidden" value="{{foodType.id}}">
        <input id="editFoodTypeName-{{foodType.id}}" type="hidden" value="{{foodType.name|replace({' ': '_'})}}">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Modifier un type de cuisine</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body edit">
            <p>Modifier : {{foodType.name}}</p>
            <div class="row">
                <div id="rowModalEditFoodType-{{foodType.id}}" class="col-md-6">{{ form_row(formEditFoodType.name, {'id':'formFoodType-' ~ foodType.name|replace({' ': '_'})}) }}</div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="submitFoodTypeEdit-{{foodType.id}}" onclick="submitEditFoodType({{foodType.id}})">Modifier</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
        </div>
    </div>
    {{ form_end(formEditFoodType) }}
</div>


{% block javascripts %}
   {{ encore_entry_script_tags('app') }}
   {{ encore_entry_script_tags('manageRecipe') }}
   <script>
    function submitEditFoodType(id){
      var oldName2 = $('#editFoodTypeName-'+id).val();
      var path = "/foodtype/" + id + "/edit";

      var inputName = $('#formFoodType-'+oldName2);

      var newName = inputName.val();

      $.ajax({
          url: path,
          method: "POST",
          data: {
              id: id,
              newName: newName
          },
          success: function(data){
              alert('Modification effectuée avec succès');
              $('#modalEditFoodType-'+id).modal('hide');
              window.location.reload();
          }
      });
    }
   </script>
{% endblock %}