{# {{ form_start(formFoodType) }}
    <div class="row">
        <div class="col-md-4">{{ form_row(formFoodType.name) }}</div><span class="closeForm" style="cursor:pointer;">x</span>
    </div>
    {{ form_widget(formFoodType) }}
    <button class="btn btn-primary">{{ button|default('Enregistrer') }}</button>
{{ form_end(formFoodType) }} #}

<div class="modal fade modalEditFoodType" id="modalEditFoodType-{{foodType.id}}" tabindex="-1" role="dialog" aria-labelledby="modalEditFoodTypeLabel" aria-hidden="true">
    {{ form_start(formEditFoodType) }}
    <div class="modal-dialog" role="document">
        <input id="editFoodTypeID-{{foodType.id}}" type="hidden" value="{{foodType.id}}">
        <input id="editFoodTypeName-{{foodType.id}}" type="hidden" value="{{foodType.name|replace({' ': '_'})}}">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Modifier un type de cuisine</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body edit">
            <p>Modifier : {{foodType.name}}</p>
            <div class="row">
                <div id="rowModal" class="col-md-6">{{ form_row(formEditFoodType.name, {'id':'formFoodType-' ~ foodType.name|replace({' ': '_'})}) }}</div>
            </div>
        </div>
        <div class="modal-footer">
            {# <button class="btn btn-primary">{{ button|default('Enregistrer') }}</button> #}
            <button type="button" class="btn btn-primary" id="submitFoodTypeEdit-{{foodType.id}}" onclick="submitEditFoodType({{foodType.id}})">Ajouter</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
        </div>
    </div>
    {{ form_end(formEditFoodType) }}
</div>

<script>

function submitEditFoodType(id){
    var oldName2 = $('#editFoodTypeName-'+id).val();
    var path = "/foodtype/" + id + "/edit";

    var inputName = $('#formFoodType-'+oldName2);

    var newName = inputName.val();

    $.ajax({
        url: path,
        method: "POST",
        data: {
            id: id,
            newName: newName
        },
        success: function(data){
            alert('Modification effectuée avec succès');
            $('#modalEditFoodType-'+id).modal('hide');
            window.location.reload();
        }
    });
}

</script>