{{ form_start(formAddFoodType) }}
    <div class="row">
        <div class="col-md-6">{{ form_row(formAddFoodType.name) }}</div>
    </div>
    {{ form_widget(formAddFoodType) }}
    <button id="buttonSubmitAddFoodType" class="btn btn-primary">{{ button|default('Enregistrer') }}</button>
{{ form_end(formAddFoodType) }}