{# {{ form_start(form) }}
<div class="row">
    <div class="col-md-2">{{ form_row(form.quantity) }}</div>
    <div class="col-md-2">{{ form_row(form.unit) }}</div>
    <div class="col-md-4">{{ form_row(form.nameIngredient) }}</div>
</div>
<button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }} #}
<ul>
{% for ingredient in ingredients %}
    <li>{{ingredient.nameIngredient}} : {{ ingredient.quantity}} {{ingredient.unit}}</li>
{% endfor %}
</ul>


{{ form_start(form) }}
    <h3>Nouvel ingrédient</h3>
    <div style="display:flex;">
        <div class="col-md-3">{{ form_row(form.quantity) }}</div>
        <div class="col-md-3">{{ form_row(form.unit) }}</div>
        <div class="col-md-3">
            {{ form_row(form.nameIngredient) }}
        </div>
    </div>
    <button class="btn btn-primary">{{ button|default('Enregistrer') }}</button>
{{ form_end(form) }}
