{# {% extends "base.html.twig" %}

{% block title 'Ajouter une nouvelle option' %}

{% block body %}   
    <div class="container mt-4">
        <h1>Créer une nouvelle option</h1>
        {{ include("admin/option/_form.html.twig", {form: form, button: 'Créer'}) }}
    </div>

{% endblock %} #}

{{ form_start(formAddOption) }}
    <div class="row">
        <div class="col-md-6">{{ form_row(formAddOption.name) }}</div>
    </div>
    {{ form_widget(formAddOption) }}
    <button id="buttonSubmitAddOption" class="btn btn-primary">{{ button|default('Enregistrer') }}</button>
{{ form_end(formAddOption) }}