{{ form_start(formAddOption) }}
    <div class="row">
        <div class="col-md-6">{{ form_row(formAddOption.name) }}</div>
    </div>
    {{ form_widget(formAddOption) }}
    <button id="buttonSubmitAddOption" class="btn btn-primary">{{ button|default('Enregistrer') }}</button>
{{ form_end(formAddOption) }}